body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #de2069;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.hero {
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.pagina {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 20px;
    gap: 10px;
    height: 400px;
    margin-top: 100px;
}

.a{
    width: 100%;
    color: #fff;
    background-color: #333;
    text-decoration: none;
}

.sub-pagina {
    text-align: center;
    margin: 10px;

}

.sub-pagina:hover{
    transform: scale(1.1) 
}

h3{
    background-color:  #de2069;
    color: #fff;
    margin-bottom: 0;
    padding: 20px;
    position: relative;
    margin-top: 0;
}

.Perfil {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.qs{
    width: 90%;
    height: 70%;
    margin-top: 30px;
}

.qsc{
    width: 50%;
    height: auto;
    margin-top: 90px;
}

.qsq{
    width: 60%;
    height: auto;
    margin-top: 90px;
    
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px ;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.whatsapp-icon img {
    width: 120px;
    height: auto;
    border-radius: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.whatsapp-icon img:hover {
    transform: scale(1.1);
}


@media(max-width:1100px){
    .pagina {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: 50px;
        gap: 10px;
        height: 400px;
        margin-bottom: 300px;
    }

}
@media(max-width:600px){
    .pagina {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

}